<div class="offcanvas offcanvas-end m-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body m-0 w-100 comments-section" id="commentSection">
    </div>
</div>
<script>
    function get_issueComments(issueId) {
        const commentSection = document.getElementById('commentSection');
        commentSection.innerHTML = `
        <div class="comments-header m-0">
            <span>Loading Comments ...</span>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>`;

        fetch(`/get_issueComments/${issueId}`)
            .then(response => response.json())
            .then(data => {
                if (!data.hasOwnProperty('comments')) {
                    throw new Error("Response does not contain 'comments'");
                }

                if (data.comments.length === 0) {
                    commentSection.innerHTML = `
                    <div class="comments-header m-0">
                        <span>Comments</span>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="no-comments-message">
                        <p>There are no comments yet. Be the first to comment!</p>
                        <textarea id="newComment" placeholder="Write a comment..."></textarea>
                        <button class="submit-comment" onclick="submitComment('${issueId}')">Submit</button>
                    </div>`;
                } else {
                    commentSection.innerHTML = `
                    <div class="comments-header m-0">
                        <span>Comments</span>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="comments-list w-100"></div>
                    <textarea id="newComment" class="add_comm" placeholder="Write a comment..."></textarea>
                    <button class="submit-comment" onclick="submitComment('${issueId}')">Submit</button>`;

                    const commentsList = commentSection.querySelector('.comments-list');
                    data.comments.forEach(comment => appendComment(commentsList, comment, issueId));
                }
                
            })
            .catch(error => {
                console.error('Error fetching comments:', error);
                commentSection.innerHTML = '<p>Error loading comments</p>';
            });
    }

    function appendComment(container, comment, issueId) {
        let avatarHTML = '';

    if (comment.author.profile_pic) {
        avatarHTML = `<img src="${comment.author.profile_pic}" alt="Avatar of ${comment.author.name}" style="width: 30px;height:30px;border-radius: 100%;">`;
    } else if (comment.author.google_profile_pic_url) {
        avatarHTML = `<img src="${comment.author.google_profile_pic_url}" alt="Avatar of hey ${comment.author.name}" style="width: 30px;height:30px;border-radius: 100%;">`;
    } else {
        avatarHTML = `<i class="fa-solid fa-circle-user fa-2xl" style="color: #004a7a;"></i>`;
    }
        const RepliesToggle = (comment.replies && comment.replies.length > 0) ? `<span class="replies-toggle" onclick="toggleReplies('replies${comment.id}')">
                  <strong>Replies (${comment.replies ? comment.replies.length : 0})</strong>
              </span>`:``;
        const commentHTML = `
          <div class="comment w-100" id="comment${comment.id}">
              <div class="comment-header w-100">
                  <div class="user-avatar">
                    ${avatarHTML}
                   
                  </div>
                  <div class="user-details">
                      <strong>${comment.author.name}</strong>
                      <span class="comment-time">${comment.created_at}</span>
                  </div>
              </div>
              <div class="comment-body">${comment.text}</div>
              <button class="reply-button btn btn-sm" onclick="toggleReplyForm('replyForm${comment.id}')"><strong>Add Reply</strong></button>
              <div id="replyForm${comment.id}" class="reply-form" style="display:none;">
                  <textarea id="replyInput${comment.id}" placeholder="Write a reply..."></textarea>
                  <button class="submit-reply" onclick="submitReply('replies${comment.id}', 'replyInput${comment.id}', '${comment.id}', '${issueId}')">Submit</button>
              </div>
              ${RepliesToggle}
              <div id="replies${comment.id}" class="comment-replies" style="display: none;"></div>
          </div>`;

        container.innerHTML += commentHTML;

        const repliesContainer = document.getElementById(`replies${comment.id}`);
        (comment.replies || []).forEach(reply => appendReply(repliesContainer, reply, issueId));
    }

    function appendReply(repliesSection, reply, issueId) {
        let avatarHTML = '';

    if (reply.author.profile_pic) {
        avatarHTML = `<img src="${reply.author.profile_pic}" alt="Avatar of ${reply.author.name}" style="width: 30px;height:30px;border-radius: 100%;">`;
    } else if (reply.author.google_profile_pic_url) {
        avatarHTML = `<img src="${reply.author.google_profile_pic_url}" alt="Avatar of ${reply.author.name}" style="width: 30px;height:30px;border-radius: 100%;">`;
    } else {
        avatarHTML = `<i class="fa-solid fa-circle-user fa-2xl" style="color: #004a7a;"></i>`;
    }
        const replyHTML = `
          <div class="comment">
              <div class="comment-header">
                  <div class="user-avatar">
                      ${avatarHTML}
                  </div>
                  <div class="user-details">
                      <strong>${reply.author.name}</strong>
                      <span class="comment-time">${reply.created_at}</span>
                  </div>
              </div>
              <div class="comment-body">${reply.text}</div>
              <button class="reply-button btn btn-sm" onclick="toggleReplyForm('replyForm${reply.id}')"><strong>Add Reply</strong></button>
              <div id="replyForm${reply.id}" class="reply-form" style="display:none;">
                  <textarea id="replyInput${reply.id}" placeholder="Write a reply..."></textarea>
                  <button class="submit-reply" onclick="submitReply('replies${reply.id}', 'replyInput${reply.id}', '${reply.id}', '${issueId}')">Submit</button>
              </div>
              
              <div id="replies${reply.id}" class="comment-replies" style="display: none;">
                  <!-- Replies to this reply will be appended here -->
              </div>
          </div>
      `;

        repliesSection.innerHTML += replyHTML;
    }

    function submitComment(issueId) {
        const newComment = document.getElementById('newComment').value.trim();
        if (!newComment) {
            alert('Please enter a comment before submitting.');
            return;
        }

        fetch('/submit_comment/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
                
            },
            body: JSON.stringify({
                'comment': newComment,
                'issue_id': issueId
            })
        })
            .then(response =>{
                if (!response.ok){
                    throw new Error('Network response was not ok');
                }
             return response.json()
            })
            .then(data => {
                if (data.success) {
                    let commentSection = document.querySelector('.comments-list');

                    if (!commentSection) {
                        const noCommentMessage = document.querySelector('.no-comments-message');
                        if (noCommentMessage) {
                            noCommentMessage.remove();

                        }
                        commentSection = document.createElement('div');
                        commentSection.classList.add('comments-list', 'w-100');
                        document.getElementById('commentSection').appendChild(commentSection);

                        // re add textarea and submit button
                        const newCommentForm = `<textarea id="newComment" class="add_comm" placeholder="Write a comment..."></textarea>
                        <button class="submit-comment" onclick="submitComment('${issueId}')">Submit</button>`;
                        commentSection.insertAdjacentHTML('afterend', newCommentForm);
                    }
                    appendComment(commentSection, {
                                    ...data.comment,
                                    author: {
                                        name: data.comment.author.name,
                                        profile_pic: data.comment.author.profile_pic,
                                        google_profile_pic_url: data.comment.author.google_profile_pic_url
                                    }
                                }, issueId);
                    
                } else {
                    alert('Error submitting comment');
                }
            })
            .catch(error => {
                console.error('Error submitting comment: ', error);
            }).finally(() => {
                const newCommentInput = document.getElementById('newComment');
                if (newCommentInput) {
                    newCommentInput.value = '';
                }

            });
    }

    function submitReply(repliesId, inputId, commentId, issueId) {
        const replyInput = document.getElementById(inputId);
        const replyText = replyInput.value.trim();
        console.log(issueId);
        if (replyText === '') {
            alert('Please enter a reply!');
            return;
        }

        // Send reply to the backend
        fetch('/submit_reply/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                'reply': replyText,
                'comment_id': commentId,
                'issueId': issueId
            })
        }).then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        }).then(data => {
            if (data.success) {
                const repliesSection = document.getElementById(repliesId);
                repliesSection.style.display = 'block';
                appendReply(repliesSection, data.reply, issueId);  // Pass the new reply data
            } else {
                alert('Error submitting reply');
            }
        }).catch(error => {
            console.error('Error:', error);
        }).finally(() => {
            // Clear input and hide form
            replyInput.value = '';
            replyInput.parentElement.style.display = 'none';
        });
    }
// Event listener to reload page when offcanvas is hidden
const offcanvas = document.getElementById('offcanvasExample');
    offcanvas.addEventListener('hidden.bs.offcanvas', function () {
        location.reload();
    });


    function toggleReplyForm(replyFormId) {
        const form = document.getElementById(replyFormId);
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

    function toggleReplies(repliesId) {
        const repliesSection = document.getElementById(repliesId);
        repliesSection.style.display = repliesSection.style.display === 'none' ? 'block' : 'none';
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

//     function updateUnreadBadge(issueId, unreadCount) {
//     const badge = document.querySelector(`[data-issue-id="${issueId}"] .badge`);
//     if (badge) {
//         if (unreadCount > 0) {
//             badge.textContent = unreadCount;
//             badge.style.display = 'inline';
//         } else {
//             badge.style.display = 'none';
//         }
//     }
// }
</script>