<div class="d-flex justify-content-between  mb-5">
  <div id="sidebar-toggle" onclick="toggleSidebar()">
    {% if workspaces %}
  <button  class="btn font" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="color:#000000;"><i class="fa-solid fa-bars fa-2xl m-3 p-1" style="color: #050505"></i>{{current_ws.ws_name}}</button>
  </div>
  <div id="sidebar" class="hidden">
    
    <div class="offcanvas offcanvas-start theme1" style="width:20%; " data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
  
        <h5 class="offcanvas-title font" id="offcanvasScrollingLabel">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <select id="workspaceDropdown" name="workspace" style="border:none;background-color: #004a7a;color: white;">
  
            <option style="color:black;" value="{{current_ws}}">
              {{current_ws.ws_name}}
            </option>
  
            {% for ws in workspaces %}
            <option style="color:black;background-color: #f7f9fb; " value="{{ ws.workspace__ws_id }}">
              {{ ws.workspace__ws_name }}
            </option>
            {% endfor %}
          </select>
        </h5>
  
  
  
        {% endif %}
        <button type="button" class="btn-close" onclick="toggleSidebar()" data-bs-dismiss="offcanvas"
          aria-label="Close" style = "background-color:#fff"></button>
      </div>
      <div class="offcanvas-body d-flex align-items-start flex-column ">
        <div class="mb-auto">
        <p><a href="{% url 'home' custom_id %}" class="my-task">My tasks</a></p>
        
        {% for project in projects %}
        <p><a href="{% url 'project_view' project.project_id custom_id %}" class="current-workspace">{{project.name}}</a></p>
        {% endfor %}

        <a href = "{% url 'dashboard' %}" class="join-workspace"><i class="fa-solid fa-chart-column" style="color: #f3f4f7;"></i> My Dashboard</a>
      </div>
      <div class="">
        <p>{% if flag %}
          <p><a href="{% url 'add_project' custom_id %}" class="join-workspace" ><i class="fa-solid fa-plus fa-l" style="color: #36089b;color: white;"></i>  Add Project</a></p>

          <button type="button" class="btn btn-sm btn-outline-light" onclick="location.href='{% url 'manage_ws' custom_id current_ws.ws_id %}'" >
            Manage Workspace
          </button>
          
  
          {% endif %}
        </p>
      <p>
      <a href="{% url 'new_workspace' custom_id %}" class="join-workspace" >Create Workspace</a>
      </p>
      <p>
        <a href="{% url 'join-workspace' %}" class="join-workspace" >Join Workspace</a>
      </p>
        
      </div>
      </div>
    </div>
    <!-- Modal -->
    
  </div>
  <div class="d-flex  ">
  <div class="search-container mt-4 me-5">
 
    <form method="POST" class="p-0 m-0" action="{% url 'search_url' %}">
    <div class="input-group m-0 p-0 d-none" id="search-input">
      <button class="btn btn-sm d-inline" id="cancel-icon" style="color:#004a7a;" onclick="cancelSearch()">
        <i class="fa-solid fa-xmark fa-xl "></i>
    </button>
      <input type="text" class="form-control focus-ring" id="search-input" name="search-input" type="search" placeholder="Search user" style="--bs-focus-ring-color: rgba(32,12,34, .25)" aria-describedby="button-addon2" required>
      <button class="btn " type="submit" id="button-addon2" style="color:#004a7a;" ><i class="fa-solid fa-magnifying-glass fa-xl"  ></i></button>
    
      
    
    </div>
   
  </form>
    <button class="btn " type="button" id="search-icon" style="color:#004a7a;" data-bs-toggle="tooltip" data-bs-title="Search users" ><i class="fa-solid fa-magnifying-glass fa-xl" ></i></button>

  
   
  </div>

  <div class="dropdown mt-3 me-4" style="background:none;">
    
      <!-- avatar -->
      {% if profile_pic_url %}
      <img class="card-img-top mt-2 me-2 shadow-sm" src="{{profile_pic_url}}" data-bs-toggle="dropdown"  aria-expanded="false" alt="profile pic of {{custom_user.user.first_name}}" style="width: 30px;height:30px;border-radius: 100%;cursor:pointer;">
  {% elif custom_user.profile_pic %}
  <img class="card-img-top mt-2 me-2 shadow-sm" src="{{custom_user.profile_pic.url}}" data-bs-toggle="dropdown"  aria-expanded="false" alt="profile pic of {{custom_user.user.first_name}}" style="width: 30px;height:30px;border-radius: 100%;cursor:pointer;">
  {% else %}
  <i class="fa-solid fa-circle-user fa-2xl " style="color: #004a7a;" data-bs-toggle="dropdown"  aria-expanded="false"></i>
  {% endif %}
    <!-- avatar end -->
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'user-profile' custom_id %}">Profile</a></li>
      
      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</div>
    </div>
  <script>
    document.getElementById('workspaceDropdown').addEventListener('change', function () {
      const ws_id = this.value;
      fetch("{% url 'switch_ws' %}", {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'ws_id': ws_id })
      }).then(response => response.json())
  .then(data => {
    if (data.url) {
      window.location.href = data.url; // Redirect to the provided URL
    } else {
      console.error('URL not provided in the response');
    }
  })
  .catch(error => console.error('Error:', error));
});
  
   
  
  </script>