{% extends 'login_base.html' %}
{% block content %}
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-sm-4 border rounded bg-light p-5 shadow">
        <span class="border-start">
            <h3 class="form-heading">Skin Undertone</h3>
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
            
            {% endif %}
            <form class="row g-3 form-floating" method="POST">
                {% csrf_token %}
                <div class="col-sm-12">
                    <!-- <label for="validationDefaultUsername" class="form-label">Username</label> -->
                    <input type="text" class="form-control" id="ws-code" placeholder="Workspace code"
                        aria-describedby="ws-code" name="ws-code" required>
                </div>

                <div class="col-sm-12 text-center">
                    <button class="btn btn-style" type="submit" href="{% url 'join-workspace' %}" style="color:white;">Join</button>
                </div>
            </form>
        </span>
    </div>
    </div>
</div>

<script>
    // Get the URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get('code');  
   
    if (code) {
        document.getElementById('ws-code').value = code;
    }
    </script>
{% endblock content %}