{% extends 'base.html' %}

{% block content %}





<div id="content" class="expanded">
    <div class="container ">
        <div class="row justify-content-center w-75 add-project" style="margin: auto;">


            <form method="POST">
                {% csrf_token %}
                <div class="form-box shadow-lg">
                    <div class="text">
                        New Project
                    </div>

                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" id="name" name="project_name" required>
                            <div class="underline"></div>
                            <label for="name">Project Name</label>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="texteditor">
                            <label for="des">Description</label>
                            <textarea id="description" name="desc">
                            </textarea>
                            <br />
                        </div>
                    </div>
                    
                    <div class="form-row justify-content-center">
                        
                          
                          <div class="dropdown rounded-pill me-2">
                                
                                <select class="form-select custom-select rounded-pill" type="button" name="priority" data-bs-toggle="dropdown" id="selectDropdown" aria-expanded="false">
                                    <option selected disabled class="dropdown-item">Priority</option>
                                    <option class="dropdown-item" value="1">Urgent</option>
                                    <option class="dropdown-item " value="2">High</option>
                                    <option class="dropdown-item " value="3">Moderate</option>
                                    <option class="dropdown-item " value="4">Low</option>
                                  </select>
                           
                            
                        
                          </div>
                          <div class="dropdown rounded-pill me-2">
                            <select class="form-select custom-select rounded-pill" type="button" name="status" data-bs-toggle="dropdown" id="selectDropdown2" aria-expanded="false">
                                <option selected disabled class="dropdown-item">Status</option>
                                <option class="dropdown-item status-dropdown" value="1" ><i class="fa-regular fa-circle fa-l"></i> Open</option>
                                <option class="dropdown-item status-dropdown" value="2" ><i class="fa-solid fa-circle-half-stroke fa-l"></i> In progress</option>
                                <option class="dropdown-item status-dropdown" value="3" ><i class="fa-solid fa-circle-pause fa-l"></i> Paused</option>
                                <option class="dropdown-item status-dropdown" value="4"><i class="fa-solid fa-circle-check fa-l"></i> Closed</option>
                              </select>
                            
                          </div>
                          <div class="col-sm-4">
                          <div class="input-group input-daterange " style="color:white;width: 150px;">
                            
                            <input type="text" id="start" name="deadline" class="form-control rounded-pill w-25" placeholder="Target" style="background-color: white;border-color: #3d3d3d;color:rgb(13, 13, 13); ">
                            <label class=" form-control-placeholder" id="start-p" for="start"></label>
                            <!-- <span class="fa fa-calendar" id="fa-1" ></span> -->
                          </div>
                        </div>
                          
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-sm-4 w-25 rounded-pill m-1  ">
                            <div class="rounded-pill   ">
                                <select id="choices-multiple-remove-button"  name="lead" placeholder="Select lead"
                                    class="rounded-pill" multiple>
                                    {% for ws_member in ws_members %}

                                    <option value="{{ws_member.customUser.custom_id}}" class="drop">{{ws_member.customUser.user.first_name}} {{ws_member.customUser.user.last_name}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        
                    
                        <div class="col-sm-4 w-25 rounded-pill m-1">
                            <div class="rounded-pill">
                                <select id="choices-multiple-remove-button" name="members" placeholder="Select members"
                                    class="rounded-pill" multiple>
                                    {% for ws_member in ws_members %}

                                    <option value="{{ws_member.customUser.custom_id}}">{{ws_member.customUser.user.first_name}} {{ws_member.customUser.user.last_name}}</option>
                                    {% endfor %}
                                

                                </select>
                            </div>
                        </div>

                        
                    </div>

                    

                    
                    
                    <div class="form-row submit-btn justify-content-center">
                        <div class="input-data rounded-pill">
                            <div class="inner"></div>
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </div>
               

            </form>

        </div>
    </div>
</div>
<script>
    var config = {};

    config.file_upload_handler = function (file, callback, optionalIndex, optionalFiles) {
        var uploadhandlerpath = {% url 'upload_file' %};  

        console.log("upload", file, "to", uploadhandlerpath);

        function append(parent, tagname, csstext) {
            var tag = parent.ownerDocument.createElement(tagname);
            if (csstext) tag.style.cssText = csstext;
            parent.appendChild(tag);
            return tag;
        }

        var uploadcancelled = false;

        var dialogouter = append(document.body, "div", "display:flex;align-items:center;justify-content:center;z-index:999999;position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:rgba(128,128,128,0.5)");
        var dialoginner = append(dialogouter, "div", "background-color:white;border:solid 1px gray;border-radius:15px;padding:15px;min-width:200px;box-shadow:2px 2px 6px #7777");

        var line1 = append(dialoginner, "div", "text-align:center;font-size:1.2em;margin:0.5em;");
        line1.innerText = "Uploading...";

        var totalsize = file.size;
        var sentsize = 0;

        if (optionalFiles && optionalFiles.length > 1) {
            totalsize = 0;
            for (var i = 0; i < optionalFiles.length; i++) {
                totalsize += optionalFiles[i].size;
                if (i < optionalIndex) sentsize = totalsize;
            }
            console.log(totalsize, optionalIndex, optionalFiles);
            line1.innerText = "Uploading..." + (optionalIndex + 1) + "/" + optionalFiles.length;
        }

        var line2 = append(dialoginner, "div", "text-align:center;font-size:1.0em;margin:0.5em;");
        line2.innerText = "0%";

        var progressbar = append(dialoginner, "div", "border:solid 1px gray;margin:0.5em;");
        var progressbg = append(progressbar, "div", "height:12px");

        var line3 = append(dialoginner, "div", "text-align:center;font-size:1.0em;margin:0.5em;");
        var btn = append(line3, "button");
        btn.className = "btn btn-primary";
        btn.innerText = "cancel";
        btn.onclick = function () {
            uploadcancelled = true;
            xh.abort();
        }

        var xh = new XMLHttpRequest();
        xh.open("POST", uploadhandlerpath + "?name=" + encodeURIComponent(file.name) + "&type=" + encodeURIComponent(file.type) + "&size=" + file.size, true);
        
      
        xh.onload = xh.onabort = xh.onerror = function (pe) {
            console.log(pe);
            console.log(xh);
            dialogouter.parentNode.removeChild(dialogouter);
            if (pe.type == "load") {
                if (xh.status != 200) {
                    console.log("uploaderror", pe);
                    if (xh.responseText.startsWith("ERROR:")) {
						callback(null, "http-error-" + xh.responseText.substring(6));
					}else {
						callback(null, "http-error-" + xh.status);
					}
				}
				else if (xh.responseText.startsWith("READY:")) {
					console.log("File uploaded to " + xh.responseText.substring(6));
					callback(xh.responseText.substring(6));
				}
				else {
					callback(null, "http-error-" + xh.responseText);
				}
			}
			else if (uploadcancelled) {
				console.log("uploadcancelled", pe);
				callback(null, "cancelled");
			}
			else {
				console.log("uploaderror", pe);
				callback(null, pe.type);
			}
		}

        xh.upload.onprogress = function (pe) {
            console.log(pe);
            var percent = Math.floor(100 * (sentsize + pe.loaded) / totalsize);
            line2.innerText = percent + "%";
            progressbg.style.cssText = "background-color:green;width:" + (percent * progressbar.offsetWidth / 100) + "px;height:12px;";
        };

        xh.send(file);  // Send the file as form data
    };

    var editor1 = new RichTextEditor("#description", config);

</script>


<script>

    // changing status color
    document.addEventListener('DOMContentLoaded', function() {
        // Function to update the background color of all select elements
        function updateDropdownColors() {
            const dropdowns = document.querySelectorAll('.status-dropdown');
    
            dropdowns.forEach(function(dropdown) {
                const selectedOption = dropdown.options[dropdown.selectedIndex];
                const selectedColor = selectedOption.style.backgroundColor || 'transparent';
                dropdown.style.backgroundColor = selectedColor;
                dropdown.style.color = '#fff'; // Adjust text color for better readability
            });
        }
    
        // Initialize color for all dropdowns on page load
        updateDropdownColors();
    
        // Update color when any dropdown selection changes
        document.addEventListener('change', function(event) {
            if (event.target.classList.contains('status-dropdown')) {
                updateDropdownColors();
            }
        });
    });
    </script>
{% endblock content %}