{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Autumn Warm</h4>
Here are some colors that match you</div>

<div class="gallery">
    <div class="color-box" style="background-color: #FFFDD0;" data-color="Cream"></div>
    <div class="color-box" style="background-color: #DEB887;" data-color="Burlywood"></div>
    <div class="color-box" style="background-color: #964B00;" data-color="Brown"></div>
    <div class="color-box" style="background-color: #1A1A78;" data-color="Soft Navy"></div>

    <div class="color-box" style="background-color: #FCC200;" data-color="Golden Poppy"></div>
    <div class="color-box" style="background-color: #FF7F50;" data-color="Coral"></div>
    <div class="color-box" style="background-color: #4E3629;" data-color="Seal Brown"></div>
    <div class="color-box" style="background-color: #702963;" data-color="Byzantium"></div>

    <div class="color-box" style="background-color: #808000;" data-color="Olive"></div>
    <div class="color-box" style="background-color: #FFA500;" data-color="Orange"></div>
    <div class="color-box" style="background-color: #7B3F00;" data-color="Chocolate"></div>
    <div class="color-box" style="background-color: #08457E;" data-color="Dark Cerulean"></div>

    <div class="color-box" style="background-color: #556B2F;" data-color="Dark Olive Green"></div>
    <div class="color-box" style="background-color: #CC5500;" data-color="Burnt Orange"></div>
    <div class="color-box" style="background-color: #BB6528;" data-color="Ruddy Brown"></div>
    <div class="color-box" style="background-color: #367588;" data-color="Teal Blue"></div>

    <div class="color-box" style="background-color: #30D5C8;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #E2062C;" data-color="Medium Candy Apple Red"></div>
    <div class="color-box" style="background-color: #BA8759;" data-color="Deer"></div>
    <div class="color-box" style="background-color: #0D98BA;" data-color="Blue-Green"></div>

    <div class="color-box" style="background-color: #008080;" data-color="Teal"></div>
    <div class="color-box" style="background-color: #C41E3A;" data-color="Cardinal Red"></div>
    <div class="color-box" style="background-color: #FA6E79;" data-color="Begonia"></div>
    <div class="color-box" style="background-color: #80DAEB;" data-color="Medium Sky Blue"></div>
</div>


{% endblock content %}