{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Autumn Soft</h4>
Here are some colors that match you</div>

<div class="gallery" style="padding-top: 10px;padding-bottom: 10px;">
    
    <div class="color-box" style="background-color: #FFFDD0;" data-color="Cream"></div>
    <div class="color-box" style="background-color: #C2B280;" data-color="Ecru"></div>
    <div class="color-box" style="background-color: #7B6660;" data-color="Deep Taupe"></div>
    <div class="color-box" style="background-color: #1A1A78;" data-color="Soft Navy"></div>

    <div class="color-box" style="background-color: #FADA5E;" data-color="Jasmine"></div>
    <div class="color-box" style="background-color: #FFA07A;" data-color="Light Salmon"></div>
    <div class="color-box" style="background-color: #905D5D;" data-color="Rose Taupe"></div>
    <div class="color-box" style="background-color: #856088;" data-color="Chinese Violet"></div>

    <div class="color-box" style="background-color: #A9BA9D;" data-color="Laurel Green"></div>
    <div class="color-box" style="background-color: #FF7F50;" data-color="Coral"></div>
    <div class="color-box" style="background-color: #A67B5B;" data-color="Café au Lait"></div>
    <div class="color-box" style="background-color: #3C6388;" data-color="Metallic Blue"></div>

    <div class="color-box" style="background-color: #78866B;" data-color="Camouflage Green"></div>
    <div class="color-box" style="background-color: #D2691E;" data-color="Cinnamon"></div>
    <div class="color-box" style="background-color: #BC987E;" data-color="Light Taupe"></div>
    <div class="color-box" style="background-color: #6699CC;" data-color="Blue-Gray"></div>

    <div class="color-box" style="background-color: #30D5C8;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #CC4E5C;" data-color="Dark Terra Cotta"></div>
    <div class="color-box" style="background-color: #C8AD7F;" data-color="Light French Beige"></div>
    <div class="color-box" style="background-color: #73B3DE;" data-color="Moonstone Blue"></div>

    <div class="color-box" style="background-color: #81D8D0;" data-color="Tiffany Blue"></div>
    <div class="color-box" style="background-color: #CB4154;" data-color="Brick Red"></div>
    <div class="color-box" style="background-color: #E18E96;" data-color="Ruddy Pink"></div>
    <div class="color-box" style="background-color: #AEC6CF;" data-color="Pastel Blue"></div>
</div>

{% endblock content %}