{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Autumn Deep</h4>
Here are some colors that match you</div>

<div class="gallery">
    <div class="color-box" style="background-color: #FFFDD0;" data-color="Cream"></div>
    <div class="color-box" style="background-color: #D2B48C;" data-color="Camel"></div>
    <div class="color-box" style="background-color: #964B00;" data-color="Brown"></div>
    <div class="color-box" style="background-color: #1A1A78;" data-color="Soft Navy"></div>

    <div class="color-box" style="background-color: #FFD700;" data-color="Mustard"></div>
    <div class="color-box" style="background-color: #FF6700;" data-color="Vivid Orange"></div>
    <div class="color-box" style="background-color: #4E3629;" data-color="Café Noir"></div>
    <div class="color-box" style="background-color: #702963;" data-color="Byzantium"></div>

    <div class="color-box" style="background-color: #556B2F;" data-color="Dark Olive Green"></div>
    <div class="color-box" style="background-color: #F94D00;" data-color="Tangelo"></div>
    <div class="color-box" style="background-color: #774F47;" data-color="Rose Ebony"></div>
    <div class="color-box" style="background-color: #003366;" data-color="Dark Imperial Blue"></div>

    <div class="color-box" style="background-color: #404A2F;" data-color="Rifle Green"></div>
    <div class="color-box" style="background-color: #B7410E;" data-color="Rust"></div>
    <div class="color-box" style="background-color: #996515;" data-color="Golden Brown"></div>
    <div class="color-box" style="background-color: #367588;" data-color="Teal Blue"></div>

    <div class="color-box" style="background-color: #40E0D0;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #E30022;" data-color="Cadmium Red"></div>
    <div class="color-box" style="background-color: #BA8759;" data-color="Deer"></div>
    <div class="color-box" style="background-color: #0D98BA;" data-color="Blue-Green"></div>

    <div class="color-box" style="background-color: #008080;" data-color="Teal"></div>
    <div class="color-box" style="background-color: #960018;" data-color="Carmine"></div>
    <div class="color-box" style="background-color: #C32148;" data-color="Dark Pink"></div>
    <div class="color-box" style="background-color: #80DAEB;" data-color="Medium Sky Blue"></div>
</div>



{% endblock content %}