{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- slider section -->
<section class=" slider_section position-relative" style="background-image: url('{% static "images/bg-image.jpg" %}');">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Say Hello to Confident Skin <br />
                  <span>
                    Smart Skin Solutions Backed by Science
                  </span>
                </h1>
                <p>
                  Get a deeper understanding of your skin’s needs with our innovative platform. Detect issues, explore
                  treatments, and glow like never before with personalized AI-driven advice.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Get Your Skin Analysis Now
                  </a>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Transforming Skin Care, One Diagnosis at a Time <br />
                  <span>
                    From Skin Concerns to Solutions - Your Skin's Best Friend
                  </span>
                </h1>
                <p>
                  Upload your skin image, and our platform will analyze your concerns, predict conditions, and suggest
                  the best skincare products for your unique needs. Get ready to embrace your skin's true potential with
                  our cutting-edge technology
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Get Your Skin Analysis Now
                  </a>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Healthy Skin Starts Here <br />
                  <span>
                    Identify. Understand. Transform
                  </span>
                </h1>
                <p>
                  Get expert insights into your skin's condition with our state-of-the-art skin analysis tool. From
                  detecting concerns to recommending top products, we're here to simplify your skincare journey and
                  bring out your best self
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Get Your Skin Analysis Now
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  AI Meets Skin Care <br />
                  <span>
                    Smart Solutions for Healthier, Happier Skin
                  </span>
                </h1>
                <p>
                  Experience next-level skincare with AI-powered analysis that identifies concerns and suggests
                  effective products for your routine. Let us guide you toward skin health like never before!
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Get your skin analysis now
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Discover the Science of Beautiful Skin <br />
                  <span>
                    AI Technology that Cares for You
                  </span>
                </h1>
                <p>
                  Transform your skincare routine with our AI-driven tool that analyzes your skin's needs and provides
                  personalized product suggestions. Healthy, glowing skin is just an image away!
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Get your skin analysis now
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end slider section -->
</div>

<!-- offer section -->

<section class="offer_section hero_next_section-margin layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Features
      </h2>
      <p>
        Upload a picture of your skin, get insights about your skin condition, and receive personalized product
        recommendations to care for it better
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-magnifying-glass-chart fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Skin Condition Analysis
            </h6>
            <p>
              Upload images of your skin to detect and identify skin issues such as acne, eczema, or other conditions
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-regular fa-face-smile fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Undertone Detection
            </h6>
            <p>
              Analyze your skin's undertone (cool, warm, deep, soft) for better personalized skincare advice.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-tv fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              User-Friendly Design
            </h6>
            <p>
              An intuitive interface that makes it easy for anyone to navigate, upload images, and understand analysis
              results without technical expertise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-brands fa-product-hunt fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Personalized Product Recommendations
            </h6>
            <p>
              Get tailored recommendations for skincare products based on the detected skin condition and undertone
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-chart-simple fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Instant Results
            </h6>
            <p>
              Quick analysis and immediate feedback on both skin conditions and suitable products.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-regular fa-hourglass-half fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Real-Time Analysis
            </h6>
            <p>
              Fast image processing to deliver results in seconds.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end offer section -->

<!-- about section -->
<section class="about_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About
            </h2>
          </div>
          <p>
            Our skin analysis website offers a personalized, user-friendly experience that helps you better understand
            your skin and care for it effectively. By simply uploading an image of your skin, our advanced AI-powered
            platform analyzes your skin condition—detecting issues like acne, pigmentation, or dryness—and identifies
            your skin's undertone, whether cool, warm, or neutral. Based on this analysis, we provide tailored product
            recommendations, including ingredients that will best address your skin's needs. Additionally, we suggest a
            customized skincare routine to help you maintain healthy, glowing skin. With a clean, intuitive design, the
            website ensures a seamless experience, allowing you to easily upload images, receive instant results, and
            track your skin's progress over time. Educational resources and tips further guide you on how to optimize
            your skincare routine. Our platform is mobile-optimized, so you can access it anytime, anywhere. Whether you
            want to treat specific skin conditions or enhance your skincare regimen, our website provides accurate,
            scientifically-backed insights to support your skin health journey.
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>

<!-- end about section -->






<!-- google map js -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
</script>
<!-- end google map js -->


<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<!--scripts for caroussel-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--scripts for caroussel ends here-->



<script>
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
</script>
</body>
{% endblock content %}