{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- slider section -->
<section class=" slider_section position-relative" style="background-image: url('{% static "images/bg-image.jpg" %}');">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Say Hello to Confident Skin <br />
                  <span>
                    Smart Skin Solutions Backed by Science
                  </span>
                </h1>
                <p>
                  Get a deeper understanding of your skin’s needs with our innovative platform. Detect issues, explore
                  treatments, and glow like never before with personalized AI-driven advice.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Read More
                  </a>
                  <a href="" class="btn-2">
                    Contact us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Transforming Skin Care, One Diagnosis at a Time <br />
                  <span>
                    From Skin Concerns to Solutions - Your Skin's Best Friend
                  </span>
                </h1>
                <p>
                  Upload your skin image, and our platform will analyze your concerns, predict conditions, and suggest
                  the best skincare products for your unique needs. Get ready to embrace your skin's true potential with
                  our cutting-edge technology
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Read More
                  </a>
                  <a href="" class="btn-2">
                    Contact us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Healthy Skin Starts Here <br />
                  <span>
                    Identify. Understand. Transform
                  </span>
                </h1>
                <p>
                  Get expert insights into your skin's condition with our state-of-the-art skin analysis tool. From
                  detecting concerns to recommending top products, we're here to simplify your skincare journey and
                  bring out your best self
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Read More
                  </a>
                  <a href="" class="btn-2">
                    Contact us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  AI Meets Skin Care <br />
                  <span>
                    Smart Solutions for Healthier, Happier Skin
                  </span>
                </h1>
                <p>
                  Experience next-level skincare with AI-powered analysis that identifies concerns and suggests
                  effective products for your routine. Let us guide you toward skin health like never before!
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Read More
                  </a>
                  <a href="" class="btn-2">
                    Contact us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Discover the Science of Beautiful Skin <br />
                  <span>
                    AI Technology that Cares for You
                  </span>
                </h1>
                <p>
                  Transform your skincare routine with our AI-driven tool that analyzes your skin's needs and provides
                  personalized product suggestions. Healthy, glowing skin is just an image away!
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">
                    Read More
                  </a>
                  <a href="" class="btn-2">
                    Contact us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end slider section -->
</div>

<!-- offer section -->

<section class="offer_section hero_next_section-margin layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Features
      </h2>
      <p>
        Upload a picture of your skin, get insights about your skin condition, and receive personalized product
        recommendations to care for it better
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-magnifying-glass-chart fa-2xl" ></i>
          </div>
          <div class="detail-box">
            <h6>
              Skin Condition Analysis
            </h6>
            <p>
              Upload images of your skin to detect and identify skin issues such as acne, eczema, or other conditions
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">

          </div>
          <div class="detail-box">
            <h6>
              Undertone Detection
            </h6>
            <p>
              Analyze your skin's undertone (cool, warm, deep, soft) for better personalized skincare advice.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-tv fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              User-Friendly Design
            </h6>
            <p>
              An intuitive interface that makes it easy for anyone to navigate, upload images, and understand analysis results without technical expertise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-brands fa-product-hunt fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Personalized Product Recommendations
            </h6>
            <p>
              Get tailored recommendations for skincare products based on the detected skin condition and undertone
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-solid fa-chart-simple fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Instant Results
            </h6>
            <p>
              Quick analysis and immediate feedback on both skin conditions and suitable products.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <div class="img-box">
            <i class="fa-regular fa-hourglass-half fa-2xl"></i>
          </div>
          <div class="detail-box">
            <h6>
              Real-Time Analysis
            </h6>
            <p>
              Fast image processing to deliver results in seconds.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end offer section -->



<!-- about section -->
<section class="about_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              A Few words about us
            </h2>
          </div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>

<!-- end about section -->


<!-- client section -->

<section class="client_section layout_padding">
  <div class="container layout_padding2-top">
    <div class="heading_container">
      <h2>
        Parent’s Feedback
      </h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="client_container layout_padding">
            <div class="img-box">
              <img src="images/client.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Rohali jonson
              </h4>
              <h6>
                customer
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are
                going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the
                middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
              </p>
              <img src="images/quote.png" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="client_container layout_padding">
            <div class="img-box">
              <img src="images/client.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Rohali jonson
              </h4>
              <h6>
                customer
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are
                going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the
                middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
              </p>
              <img src="images/quote.png" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="client_container layout_padding">
            <div class="img-box">
              <img src="images/client.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Rohali jonson
              </h4>
              <h6>
                customer
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are
                going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the
                middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
              </p>
              <img src="images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>

<!-- end client section -->


<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container ">
    <div class="heading_container ">
      <h2 class="">
        Request
        <span>
          A call Back
        </span>

      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <form action="#">
          <div>
            <input type="text" placeholder="Name" />
          </div>
          <div>
            <input type="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" placeholder="Pone Number" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="Message" />
          </div>
          <div class="d-flex  mt-4 ">
            <button>
              SEND
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <!-- map section -->
        <div class="map_section">
          <div id="map" class="w-100 h-100"></div>
        </div>

        <!-- end map section -->
      </div>
    </div>
  </div>
</section>

<!-- end contact section -->


<!-- info section -->
<section class="info_section layout_padding">
  <div class="container">
    <div class="info_form">

      <div class="row">
        <div class="offset-lg-3 col-lg-3">
          <h5 class="form_heading">
            Newsletter
          </h5>
        </div>
        <div class="col-md-6">
          <form action="#">
            <input type="text" placeholder="Enter Your email">
            <button>
              subscribe
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_logo">
          <div>
            <a href="">
              <img src="images/logo.png" alt="" />
              <span>
                Brighton
              </span>
            </a>
          </div>
          <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links ">
          <h5>
            Contact Us
          </h5>
          <p class="pr-0 pr-md-4 pr-lg-5">
            Donec odio. Quisque volutpat mattis eros.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_insta">
          <h5>
            INFORMATION
          </h5>
          <p class="pr-0 pr-md-4 pr-md-5">
            Donec odio. Quisque volutpat mattis eros.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pl-0 pl-lg-5 pl-md-4">
          <h5>
            MY ACCOUNT

          </h5>
          <p>
            Donec odio. Quisque volutpat mattis eros.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info_section -->

<script>
  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 11,
      center: {
        lat: 40.645037,
        lng: -73.880224
      }
    });

    var image = "images/maps-and-flags.png";
    var beachMarker = new google.maps.Marker({
      position: {
        lat: 40.645037,
        lng: -73.880224
      },
      map: map,
      icon: image
    });
  }
</script>

<!-- google map js -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
</script>
<!-- end google map js -->


<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<!--scripts for caroussel-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--scripts for caroussel ends here-->



<script>
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
</script>
</body>
{% endblock content %}