{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block content %}
<div id="content" class="exapanded">
<meta name="csrf-token" content="{{ csrf_token }}">
<div class="container">
<div class="row-sm">
    <div class="col-sm-3">
        <button type="button" class="btn btn-sm  btn-outline-light" style="color:#004a7a;border-color:#004a7a;" data-bs-toggle="modal" data-bs-target="#codeModal">
            Add members
          </button>
    </div>
</div>
<!-- workspace member list -->
    {% if messages %}
    {% for message in messages %}

    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <div class="container p-3">
        <table id="ws-members" class="table table-hover text-center" style="background-color: rgb(41, 128, 185) ;">
            <thead>
              <tr>
                <th scope="col-sm-1" class="text-center">Active</th>

                <th scope="col-sm-6" class="text-center">Workspace Member</th>
                <th scope="col-sm-1" class="text-center">Email</th>
                <th scope="col-sm-1" class="text-center">Projects</th>
                <th scope="col-sm-1" class="text-center">Edit</th>
                
                
              </tr>
            </thead>
            <tbody>
                {% for member in members %}
              <tr>
                <th scope="row">
                  <i class="fa-solid {% if member.active %}fa-toggle-on{% else %}fa-toggle-off{% endif %} fa-xl" 
  style="cursor:pointer; {% if not member.active %}color: #7e7f81;{% else %}color:#004a7a;{% endif %}" 
  onclick="toggleMemberStatus('{{ member.customUser.custom_id }}', '{{ current_ws.ws_id }}', '{{ custom_id }}', this)">
</i>
                </th>
                <td style="cursor: pointer;" class="col-sm-3">
                    <a href="" class="link-dark link-underline link-underline-opacity-0">{{member.customUser.user.first_name}} {{member.customUser.user.last_name}}
                    </a>
                </td>
                    <td >
                    
                        {{member.customUser.user.email}}
                    </td>
                
                <td> 
                    <div class="col-sm-7 mb-2 ms-0">
                        
                        {{project_count|index:forloop.counter0}}
                    </div>
                    
              </td>
                <td><i class="fa-solid fa-trash " style="cursor:pointer;color:#004a7a;" data-bs-toggle="modal" data-bs-target="#delete-{{forloop.counter0}}"></i>  </td>
                <!-- modal -->
                <div class="modal" id="delete-{{forloop.counter0}}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header " style="color:grey;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center" style="color:#004a7a;font-size: larger; font-weight: 900;">
                        <h5 class="modal-title">Are you sure you want to remove {{member.customUser.user.first_name}} {{member.customUser.user.last_name}} from the workspace?</h5>
                      </div>
                      <div class="modal-footer ">
                        <button type="button"  class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="location.href='{% url 'deactivate_ws_member' custom_id member.customUser.custom_id current_ws.ws_id %}'">No, deactivate instead</button>

                        <button type="button"  class="btn btn-outline-danger" data-bs-dismiss="modal" onclick="location.href='{% url 'remove_ws_member' custom_id member.customUser.custom_id current_ws.ws_id %}'">Yes, remove</button>
              
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end modal -->
                </tr>
              {% empty %}
              <tr><td colspan="6">No members found</td></tr>
             
              
              {% endfor %}
            
            </tbody>
          </table>

    </div>

</div>
</div>
<!-- modal -->
  <div class="modal" id="codeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header " style="background-color: #004a7a;color:white;">
          <h5 class="modal-title">Share this workspace code to add members</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" style="color:#004a7a;font-size: larger; font-weight: 900;">
          <input id="code" class="w-25" type="text" value="{{ws_code}}" style="border:none"></input>
            <button style=" border: none;background-color: white;" onclick="copyTextClipboard()"><i class="fas fa-copy fa-xs" style="color:#7c93bb" ></i></button> <!-- Copy icon -->
        </span>
        <p id="copySuccessMessage" style="display:none; color:green;">Copied to clipboard!</p>
        <div class="invite-section mt-4" >
          <button type="button" class="btn btn-sm btn-outline-light" style="color:#004a7a;border-color:#004a7a;"  id="show-email-input">
            <i class="fas fa-envelope" ></i> Invite via Email
          </button>
          
          <!-- get email -->
          <div id="email-inputs" class="mt-3" style="display:none;">
            <input type="email" class="form-control mb-2 email-field" placeholder="Enter email" id="email-1" required>
            <div id="additional-emails"></div>
            <button type="button" class="btn btn-sm btn-outline-light" style="color:#004a7a;border-color:#004a7a;" id="add-email">Add another email</button>
            <button type="button" id="sendInvitesBtn" type="submit" style="color:#004a7a;border-color:#004a7a;"  class="btn btn-sm btn-outline-light">Send Invites</button>

          </div>
        </div>
        </div>
        <div class="modal-footer " style="background-color: #004a7a;">
          <button type="button" id="update-code-btn" class="btn btn-sm btn-outline-light">Update Code</button>

          <button type="button"  class="btn btn-sm btn-outline-light" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
<!-- model end -->
<script>
   $(document).ready( function () {
   $('#ws-members').DataTable({
       lengthMenu: [
       [10, 25, 50, -1],
       [10, 25, 50, 'All']
   ],
   order:false,
   processing:true,
   });});
</script>
<script>

  document.getElementById('update-code-btn').addEventListener('click', function() {
      $.ajax({
          url: "{% url 'create_new_code' custom_id current_ws.ws_id %}",
          method: 'GET',
          success: function(response) {
              
              document.getElementById('code').value = response.new_code;
          }
      });
  });
  </script>
<script>
  function toggleMemberStatus(customUserId, wsId, userCustomId, element) {
  // Send a request to the Django view
  const url = `/toggle_ws_member/${userCustomId}/${customUserId}/${wsId}/`;
  console.log(url);
  fetch(url, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        // Toggle the icon and color on success
        if (element.classList.contains('fa-toggle-on')) {
          element.classList.remove('fa-toggle-on');
          element.classList.add('fa-toggle-off');
          element.style.color = '#7e7f81';  // Change to inactive color
        } else {
          element.classList.remove('fa-toggle-off');
          element.classList.add('fa-toggle-on');
          element.style.color = '';  // Reset to active color
        }
      } else {
        console.error('Server response was not OK.');
      }
    })
    .catch(error => {
      console.error('Error toggling member status:', error);
    });
}


document.getElementById('show-email-input').addEventListener('click', function() {
    document.getElementById('email-inputs').style.display = 'block';
  });
  
  let emailCount = 1;
  
  document.getElementById('add-email').addEventListener('click', function() {
    emailCount++;
    const additionalEmails = document.getElementById('additional-emails');
    const newEmailInput = document.createElement('input');
    newEmailInput.type = 'email';
    newEmailInput.className = 'form-control mb-2 email-field';
    newEmailInput.placeholder = `Enter email ${emailCount}`;
    newEmailInput.id = `email-${emailCount}`;
    additionalEmails.appendChild(newEmailInput);
  });
  

  function getAllEmails() {
    const emails = [];
    for (let i = 1; i <= emailCount; i++) {
      const emailInput = document.getElementById(`email-${i}`);
      if (emailInput && emailInput.value) {
        emails.push(emailInput.value);
      }
    }
    return emails;
  }
  

  
</script>
<script>
  // send emails from frontend to backend
  document.getElementById('sendInvitesBtn').addEventListener('click', function() {
    const emails = getAllEmails();
    if (emails.length > 0) {
      const customId = "{{ custom_id }}"; 
      const wsId = "{{ current_ws.ws_id }}"; 
      jQuery.ajax({
        url: `{% url 'send_invite_emails' custom_id current_ws.ws_id %}`,
        method: 'POST',
        data: {
          csrfmiddlewaretoken: document.querySelector('[name=csrf-token]').content,
          emails: emails,
        },
        success: function(response) {
          jQuery('#codeModal').modal('hide'); 
          alert('Invitations sent successfully!');
        },
        error: function(xhr, status, error) {
          console.error('Error sending invites:', error);
        }
      });
    } else {
      alert('Please enter at least one email address.');
    }
  });
  
</script>

{% endblock content %}