{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Spring Bright</h4>
Here are some colors that match you</div>

<div class="gallery">
    <div class="color-box" style="background-color: #FFFFF0;" data-color="Ivory"></div>
    <div class="color-box" style="background-color: #D2B48C;" data-color="Tan"></div>
    <div class="color-box" style="background-color: #483C32;" data-color="Dark Lava"></div>
    <div class="color-box" style="background-color: #000080;" data-color="Navy"></div>
    <div class="color-box" style="background-color: #FFEF00;" data-color="Canary Yellow"></div>
    <div class="color-box" style="background-color: #FC8EAC;" data-color="Flamingo Pink"></div>
    <div class="color-box" style="background-color: #7E5E60;" data-color="Deep Taupe"></div>
    <div class="color-box" style="background-color: #4169E1;" data-color="Royal Blue"></div>
    <div class="color-box" style="background-color: #00CC33;" data-color="Vivid Malachite"></div>
    <div class="color-box" style="background-color: #FC5A8D;" data-color="Strawberry"></div>
    <div class="color-box" style="background-color: #B38B6D;" data-color="Light Taupe"></div>
    <div class="color-box" style="background-color: #0892D0;" data-color="Rich Electric Blue"></div>
    <div class="color-box" style="background-color: #00A86B;" data-color="Jade"></div>
    <div class="color-box" style="background-color: #FF43A4;" data-color="Wild Strawberry"></div>
    <div class="color-box" style="background-color: #FFA089;" data-color="Vivid Tangerine"></div>
    <div class="color-box" style="background-color: #00BFFF;" data-color="Capri"></div>
    <div class="color-box" style="background-color: #7DF9FF;" data-color="Electric Blue"></div>
    <div class="color-box" style="background-color: #FF0000;" data-color="Red"></div>
    <div class="color-box" style="background-color: #FFA500;" data-color="Orange"></div>
    <div class="color-box" style="background-color: #89CFF0;" data-color="Baby Blue"></div>
    <div class="color-box" style="background-color: #00CED1;" data-color="Dark Turquoise"></div>
    <div class="color-box" style="background-color: #FF033E;" data-color="American Rose"></div>
    <div class="color-box" style="background-color: #FF5E00;" data-color="Electric Orange"></div>
    <div class="color-box" style="background-color: #A6E7FF;" data-color="Fresh Air"></div>
</div>



{% endblock content %}