{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Spring Warm</h4>
Here are some colors that match you</div>

<div class="gallery">
    <div class="color-box" style="background-color: #FFFDD0;" data-color="Cream"></div>
    <div class="color-box" style="background-color: #C2B280;" data-color="Ecru"></div>
    <div class="color-box" style="background-color: #A67B5B;" data-color="Café au Lait"></div>
    <div class="color-box" style="background-color: #1A1A78;" data-color="Soft Navy"></div>

    <div class="color-box" style="background-color: #F8DE7E;" data-color="Jasmine"></div>
    <div class="color-box" style="background-color: #FADADD;" data-color="Pale Pink"></div>
    <div class="color-box" style="background-color: #987654;" data-color="Pale Brown"></div>
    <div class="color-box" style="background-color: #417DC1;" data-color="Tufts Blue"></div>

    <div class="color-box" style="background-color: #B8E186;" data-color="Medium Spring Bud"></div>
    <div class="color-box" style="background-color: #FF9999;" data-color="Light Salmon Pink"></div>
    <div class="color-box" style="background-color: #D2B48C;" data-color="Tan"></div>
    <div class="color-box" style="background-color: #00CCFF;" data-color="Caribbean Blue"></div>

    <div class="color-box" style="background-color: #93C572;" data-color="Pistachio"></div>
    <div class="color-box" style="background-color: #FF69B4;" data-color="Light Crimson"></div>
    <div class="color-box" style="background-color: #FFDAB9;" data-color="Peach"></div>
    <div class="color-box" style="background-color: #87CEEB;" data-color="Vivid Sky Blue"></div>

    <div class="color-box" style="background-color: #AFEEEE;" data-color="Pale Turquoise"></div>
    <div class="color-box" style="background-color: #FF6961;" data-color="Pastel Red"></div>
    <div class="color-box" style="background-color: #FBCEB1;" data-color="Apricot"></div>
    <div class="color-box" style="background-color: #B9F2FF;" data-color="Diamond"></div>

    <div class="color-box" style="background-color: #AAF0D1;" data-color="Magic Mint"></div>
    <div class="color-box" style="background-color: #FF033E;" data-color="American Rose"></div>
    <div class="color-box" style="background-color: #FFA07A;" data-color="Light Salmon"></div>
    <div class="color-box" style="background-color: #E0FFFF;" data-color="Light Aqua"></div>
</div>


{% endblock content %}