{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Summer soft</h4>
Here are some colors that match you</div>
<div class="gallery">
    <div class="color-box" style="background-color: #FFFEF1;" data-color="#FFFEF1"></div>
    <div class="color-box" style="background-color: #ABAFAE;" data-color="#ABAFAE"></div>
    <div class="color-box" style="background-color: #7A7D84;" data-color="#7A7D84"></div>
    <div class="color-box" style="background-color: #010080;" data-color="#010080"></div>

    <div class="color-box" style="background-color: #F8F39F;" data-color="#F8F39F"></div>
    <div class="color-box" style="background-color: #F2BDCD;" data-color="#F2BDCD"></div>
    <div class="color-box" style="background-color: #5F646A;" data-color="#5F646A"></div>
    <div class="color-box" style="background-color: #3E6A91;" data-color="#3E6A91"></div>

    <div class="color-box" style="background-color: #91D2CA;" data-color="#91D2CA"></div>
    <div class="color-box" style="background-color: #BFB2B9;" data-color="#BFB2B9"></div>
    <div class="color-box" style="background-color: #4682B4;" data-color="#4682B4"></div>
    <div class="color-box" style="background-color: #74988C;" data-color="#74988C"></div>

    <div class="color-box" style="background-color: #DA86AA;" data-color="#DA86AA"></div>
    <div class="color-box" style="background-color: #D1AFD2;" data-color="#D1AFD2"></div>
    <div class="color-box" style="background-color: #669ACC;" data-color="#669ACC"></div>
    <div class="color-box" style="background-color: #48B9C7;" data-color="#48B9C7"></div>

    <div class="color-box" style="background-color: #C72D49;" data-color="#C72D49"></div>
    <div class="color-box" style="background-color: #B783A7;" data-color="#B783A7"></div>
    <div class="color-box" style="background-color: #9CBBCD;" data-color="#9CBBCD"></div>
    <div class="color-box" style="background-color: #49D1CD;" data-color="#49D1CD"></div>

    <div class="color-box" style="background-color: #D80A54;" data-color="#D80A54"></div>
    <div class="color-box" style="background-color: #925B83;" data-color="#925B83"></div>
    <div class="color-box" style="background-color: #ADD9E6;" data-color="#ADD9E6"></div>
</div>

{% endblock content %}