{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Summer Light</h4>
Here are some colors that match you</div>

<div class="gallery">
    <div class="color-box" style="background-color: #FFFEF1;" data-color="#FFFEF1"></div>
    <div class="color-box" style="background-color: #D8D8D6;" data-color="#D8D8D6"></div>
    <div class="color-box" style="background-color: #7A7D84;" data-color="#7A7D84"></div>
    <div class="color-box" style="background-color: #010080;" data-color="#010080"></div>

    <div class="color-box" style="background-color: #FEFACD;" data-color="#FEFACD"></div>
    <div class="color-box" style="background-color: #FFDDF5;" data-color="#FFDDF5"></div>
    <div class="color-box" style="background-color: #555555;" data-color="#555555"></div>
    <div class="color-box" style="background-color: #446CCE;" data-color="#446CCE"></div>

    <div class="color-box" style="background-color: #9CADB7;" data-color="#9CADB7"></div>
    <div class="color-box" style="background-color: #87ADDA;" data-color="#87ADDA"></div>
    <div class="color-box" style="background-color: #00AB96;" data-color="#00AB96"></div>
    <div class="color-box" style="background-color: #DF9CC5;" data-color="#DF9CC5"></div>

    <div class="color-box" style="background-color: #DCD0FF;" data-color="#DCD0FF"></div>
    <div class="color-box" style="background-color: #AEC6D0;" data-color="#AEC6D0"></div>
    <div class="color-box" style="background-color: #B0EDEE;" data-color="#B0EDEE"></div>
    <div class="color-box" style="background-color: #DD3163;" data-color="#DD3163"></div>

    <div class="color-box" style="background-color: #ADD9E6;" data-color="#ADD9E6"></div>
    <div class="color-box" style="background-color: #48B9C7;" data-color="#48B9C7"></div>
    <div class="color-box" style="background-color: #E40570;" data-color="#E40570"></div>
    <div class="color-box" style="background-color: #977BB6;" data-color="#977BB6"></div>

    <div class="color-box" style="background-color: #E6FEFE;" data-color="#E6FEFE"></div>
</div>



{% endblock content %}