{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="gallery">
    <div class="color-box" style="background-color: #FF5733;" data-color="Orange Red"></div>
    <div class="color-box" style="background-color: #33FF57;" data-color="Green"></div>
    <div class="color-box" style="background-color: #3357FF;" data-color="Blue"></div>
    <div class="color-box" style="background-color: #FFFF33;" data-color="Yellow"></div>
    <div class="color-box" style="background-color: #FF33FF;" data-color="Pink"></div>
    <div class="color-box" style="background-color: #33FFFF;" data-color="Cyan"></div>
    <div class="color-box" style="background-color: #8B4513;" data-color="Brown"></div>
    <div class="color-box" style="background-color: #708090;" data-color="Slate Gray"></div>
    <div class="color-box" style="background-color: #800080;" data-color="Purple"></div>
</div>

{% endblock content %}