{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Winter Bright</h4>
Here are some colors that match you</div>
<div class="gallery">
    <div class="color-box" style="background-color: #FFFFFF;" data-color="White"></div>
    <div class="color-box" style="background-color: #B2BEB5;" data-color="Ash Gray"></div>
    <div class="color-box" style="background-color: #000000;" data-color="Black"></div>
    <div class="color-box" style="background-color: #000080;" data-color="Navy"></div>

    <div class="color-box" style="background-color: #FFE302;" data-color="Vivid Yellow"></div>
    <div class="color-box" style="background-color: #FFA6C9;" data-color="Carnation Pink"></div>
    <div class="color-box" style="background-color: #474A51;" data-color="Quartz"></div>
    <div class="color-box" style="background-color: #0F52BA;" data-color="Sapphire"></div>

    <div class="color-box" style="background-color: #00A86B;" data-color="Jade"></div>
    <div class="color-box" style="background-color: #FF69B4;" data-color="Hot Pink"></div>
    <div class="color-box" style="background-color: #6C6C6C;" data-color="Dark Silver"></div>
    <div class="color-box" style="background-color: #007FFF;" data-color="Azure"></div>

    <div class="color-box" style="background-color: #50C878;" data-color="Emerald"></div>
    <div class="color-box" style="background-color: #E4007C;" data-color="Mexican Pink"></div>
    <div class="color-box" style="background-color: #BF94E4;" data-color="Bright Lavender"></div>
    <div class="color-box" style="background-color: #00BFFF;" data-color="Capri"></div>

    <div class="color-box" style="background-color: #08E8DE;" data-color="Bright Turquoise"></div>
    <div class="color-box" style="background-color: #FF033E;" data-color="American Rose"></div>
    <div class="color-box" style="background-color: #BF00FF;" data-color="Electric Purple"></div>
    <div class="color-box" style="background-color: #00CCFF;" data-color="Vivid Sky Blue"></div>

    <div class="color-box" style="background-color: #40E0D0;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #800020;" data-color="Burgundy"></div>
    <div class="color-box" style="background-color: #8806CE;" data-color="French Violet"></div>
    <div class="color-box" style="background-color: #A6E7FF;" data-color="Fresh Air"></div>
</div>

{% endblock content %}