{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Winter Cool</h4>
Here are some colors that match you</div>
<div class="gallery">
    <div class="color-box" style="background-color: #FFFFFF;" data-color="White"></div>
    <div class="color-box" style="background-color: #708090;" data-color="Slate Gray"></div>
    <div class="color-box" style="background-color: #000000;" data-color="Black"></div>
    <div class="color-box" style="background-color: #000080;" data-color="Navy"></div>

    <div class="color-box" style="background-color: #FFF44F;" data-color="Lemon Yellow"></div>
    <div class="color-box" style="background-color: #F984E5;" data-color="Light Fuchsia Pink"></div>
    <div class="color-box" style="background-color: #36454F;" data-color="Charcoal"></div>
    <div class="color-box" style="background-color: #0F52BA;" data-color="Sapphire"></div>

    <div class="color-box" style="background-color: #3EB489;" data-color="Mint"></div>
    <div class="color-box" style="background-color: #FF66CC;" data-color="Rose Pink"></div>
    <div class="color-box" style="background-color: #C4C3D0;" data-color="Lavender Gray"></div>
    <div class="color-box" style="background-color: #446CCF;" data-color="Han Blue"></div>

    <div class="color-box" style="background-color: #01796F;" data-color="Pine Green"></div>
    <div class="color-box" style="background-color: #F400A1;" data-color="Fashion Fuchsia"></div>
    <div class="color-box" style="background-color: #DCD0FF;" data-color="Pale Lavender"></div>
    <div class="color-box" style="background-color: #77B5FE;" data-color="French Sky Blue"></div>

    <div class="color-box" style="background-color: #AFEEEE;" data-color="Pale Turquoise"></div>
    <div class="color-box" style="background-color: #D10056;" data-color="Rubine Red"></div>
    <div class="color-box" style="background-color: #E6E6FA;" data-color="Lavender"></div>
    <div class="color-box" style="background-color: #89CFF0;" data-color="Baby Blue"></div>

    <div class="color-box" style="background-color: #40E0D0;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #800020;" data-color="Burgundy"></div>
    <div class="color-box" style="background-color: #553592;" data-color="Blue-Magenta Violet"></div>
    <div class="color-box" style="background-color: #A6E7FF;" data-color="Fresh Air"></div>
</div>

{% endblock content %}