{% extends 'gallery_base.html' %}
{% load static %}
{% block content %}
<div class="m-4"><h4>Your undertone is Winter Deep</h4>
Here are some colors that match you</div>
<div class="gallery">
    <div class="color-box" style="background-color: #FFFFFF;" data-color="White"></div>
    <div class="color-box" style="background-color: #808080;" data-color="Gray"></div>
    <div class="color-box" style="background-color: #000000;" data-color="Black"></div>
    <div class="color-box" style="background-color: #000080;" data-color="Navy"></div>

    <div class="color-box" style="background-color: #FFFF00;" data-color="Yellow"></div>
    <div class="color-box" style="background-color: #F77FBE;" data-color="Persian Pink"></div>
    <div class="color-box" style="background-color: #353839;" data-color="Onyx"></div>
    <div class="color-box" style="background-color: #191970;" data-color="Midnight Blue"></div>

    <div class="color-box" style="background-color: #29AB87;" data-color="Jungle Green"></div>
    <div class="color-box" style="background-color: #F64A8A;" data-color="French Rose"></div>
    <div class="color-box" style="background-color: #6E6E6E;" data-color="Dark Silver"></div>
    <div class="color-box" style="background-color: #0F52BA;" data-color="Sapphire"></div>

    <div class="color-box" style="background-color: #004953;" data-color="Midnight Green"></div>
    <div class="color-box" style="background-color: #E4007C;" data-color="Mexican Pink"></div>
    <div class="color-box" style="background-color: #BF94E4;" data-color="Bright Lavender"></div>
    <div class="color-box" style="background-color: #4169E1;" data-color="Royal Blue"></div>

    <div class="color-box" style="background-color: #40E0D0;" data-color="Turquoise"></div>
    <div class="color-box" style="background-color: #A40000;" data-color="Dark Candy Apple Red"></div>
    <div class="color-box" style="background-color: #9955BB;" data-color="Deep Lilac"></div>
    <div class="color-box" style="background-color: #318CE7;" data-color="Bleu De France"></div>

    <div class="color-box" style="background-color: #008080;" data-color="Teal"></div>
    <div class="color-box" style="background-color: #560319;" data-color="Dark Scarlet"></div>
    <div class="color-box" style="background-color: #522D80;" data-color="Regalia"></div>
    <div class="color-box" style="background-color: #00CCFF;" data-color="Vivid Sky Blue"></div>
</div>

{% endblock content %}